.reaction {
  color: #c3c3c3;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-around;
  margin: 5px auto;
}

.reaction i {
  padding: 2px;
  display: flex;
  align-items: center;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #3f3fa2;
  margin: 5px auto;
  justify-content: space-around;
}

.reaction .icon {
  color: black;
  padding: 5px;
  margin: 0px;
}

.reaction i.favorite-selected {
  background-color: #d23b3b;
  border: 1px solid #d23b3b;
  color: white;
}

.reaction i.selected {
  background-color: #3f3fa2;
  color: white;
}
